/* ==========================================================================
    Structure
   ========================================================================== */
.cards {
    display: flex;
    gap: var(--gap);
}
/* Sets cards to take up an equal amount of space */
.card{
    flex-basis: 100%;
    padding: var(--padding-panel);
    border: 1px solid var(--color-text);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Turn into a 50/50 grid on tablet */
@media(max-width: 1024px) {
    .cards {
        flex-wrap: wrap;
    }

    .card{
        flex-basis: calc(50% - var(--gap)/2);
        flex-grow: 0;
    }
}

/* Stack 'em on mobile */
@media(max-width: 768ps) {
    .card{
        flex-basis: 100%;
    }
}