body{
    margin: 0;
}

main > .block{
    max-width: var(--width-full-inset);
    width: var(--width-wide-inset);
    margin: var(--space-margin-row) auto;
    &.has-background{
        margin-top: 0;
        margin-bottom: 0;
}
}
main > .block.align-full{
    width: var(--width-full-inset);
    &.has-background{
        width: 100%;
        max-width: 100%;
        padding: var(--space-margin-row) var(--space-gutter);
    }
}
