.has-text-color * {
    color: inherit;
}

.has-text-align-right {
    text-align: right;
    margin-left: auto;
    + cite{
        text-align: right;
        margin-left: auto;
    }
}

.has-text-align-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    + cite{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}