/* ----- VARIABLES ----- */
:root {
  /* -- FONTS -- @link https://utopia.fyi/type/calculator?c=320,16,1.125,1140,16,1.25,8,1,&s=0.5,2|3|4|5|6|8,s-l */
  --step--1: clamp(0.89rem, 0.92rem + -0.17vw, 0.8rem); /*13px*/
  --step-0: clamp(1rem, 1rem + 0vw, 1rem); /*16px*/
  --step-1: clamp(1.13rem, 1.08rem + 0.24vw, 1.25rem); /*20px*/
  --step-2: clamp(1.27rem, 1.15rem + 0.58vw, 1.56rem); /*25px*/
  --step-3: clamp(1.42rem, 1.22rem + 1.03vw, 1.95rem); /*31px*/
  --step-4: clamp(1.6rem, 1.27rem + 1.64vw, 2.44rem); /*39px*/
  --step-5: clamp(1.8rem, 1.31rem + 2.44vw, 3.05rem); /*49px*/
  --step-6: clamp(2.03rem, 1.33rem + 3.49vw, 3.82rem); /*61px*/
  --step-7: clamp(2.28rem, 1.31rem + 4.85vw, 4.77rem); /*76px*/
  --step-8: clamp(2.57rem, 1.24rem + 6.62vw, 5.96rem); /*95px*/
  --font-sans: "Open Sans", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-cursive: "Dancing Script", cursive;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-body: var(--font-sans);
  --font-heading: var(--font-serif);
  --font-line-height-body: 1.5em;
  --font-line-height-heading: 1.2em;
  --button-padding: 15px 25px;
  --button-font: var(--font-sans);
  --button-size: var(--step-0);
  --button-font-weight: var(--font-weight-semibold);
  --button-case: uppercase;
  --button-border: 2px solid ;
}

/* -- SPACING --  @link https://utopia.fyi/space/calculator?c=320,10,1.125,1140,20,1.2,8,1,&s=0.5,2|3|4|5|6|8,s-l */
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
:root {
  --fc-xs-min: var(--fc-s-min) * 0.5;
  --fc-xs-max: var(--fc-s-max) * 0.5;
  --fc-s-min: var(--f-0-min, 10);
  --fc-s-max: var(--f-0-max, 20);
  --fc-m-min: var(--fc-s-min) * 2;
  --fc-m-max: var(--fc-s-max) * 2;
  --fc-l-min: var(--fc-s-min) * 3;
  --fc-l-max: var(--fc-s-max) * 3;
  --fc-xl-min: var(--fc-s-min) * 4;
  --fc-xl-max: var(--fc-s-max) * 4;
  --fc-2xl-min: var(--fc-s-min) * 5;
  --fc-2xl-max: var(--fc-s-max) * 5;
  --fc-3xl-min: var(--fc-s-min) * 6;
  --fc-3xl-max: var(--fc-s-max) * 6;
  --fc-4xl-min: var(--fc-s-min) * 8;
  --fc-4xl-max: var(--fc-s-max) * 8;
  /* T-shirt sizes */
  --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp)); /*10px - 5px*/
  --space-a: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp)); /*20px - 10px*/
  --space-b: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp)); /*40px - 20px*/
  --space-c: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp)); /*60px - 30px*/
  --space-d: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp)); /*80px - 40px*/
  --space-e: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp)); /*100px - 50px*/
  --space-f: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp)); /*120px - 60px*/
  --space-g: calc(((var(--fc-4xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-4xl-min)) * var(--fluid-bp)); /*160px - 80px*/
}

/*-- UNIVERSAL SPACING --*/
:root {
  /*left & right spacing*/
  --space-gutter: var(--space-b); /* space between edge and content */
  --space-gap: var(--space-b); /* space between cards, panels, or columns*/
  /*top & bottom spacing*/
  --space-row-margin: var(--space-g); /* between rows */
  --space-row-padding: var(--space-g); /* within rows with background colours */
  /*panels & cards*/
  --space-panel-padding: var(--space-b); /*padding for panels and cards */
  --width-full-inset: calc(100% - var(--space-gutter) * 2);
  --width-wide: 90rem; /*16px base == 1440px*/
  --width-wide-inset: calc(var(--width-wide) - var(--space-gutter) * 2);
  --width-text: 60rem; /*16px base == 960px -- max width for body text*/
  --width-text-inset: calc(var(--width-text) - var(--space-gutter) * 2);
  --width-narrow: 640px;
  /*other*/
  --transition: 0.2s ease-in-out;
}

/* -- mixins  -- */
/* cover image */
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-body);
  line-height: var(--font-line-height-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  line-height: var(--font-line-height-heading);
  margin-top: 0;
  margin-bottom: var(--space-margin-heading-body);
}

h1 {
  font-size: var(--step-7);
}

h2 {
  font-size: var(--step-6);
}

h3 {
  font-size: var(--step-5);
}

h4 {
  font-size: var(--step-4);
}

h5 {
  font-size: var(--step-3);
}

h6 {
  font-size: var(--step-2);
}

p {
  margin-top: 0;
  margin-bottom: var(--space-margin-body);
}
p + *:is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--space-margin-body-heading);
}
p:last-child {
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: var(--space-margin-body);
  padding-left: 20px;
}
ul + *:is(h1, h2, h3, h4, h5, h6), ol + *:is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--space-margin-body-heading);
}
ul:last-child, ol:last-child {
  margin-bottom: 0;
}

li {
  margin-top: 0;
  margin-bottom: var(--space-margin-body);
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
}
li:last-child {
  margin-bottom: 0;
}

blockquote {
  margin-top: calc(var(--space-margin-body) * 2);
  margin-bottom: calc(var(--space-margin-body) * 2);
}
blockquote:first-child {
  margin-top: 0;
}
blockquote:last-child {
  margin-bottom: 0;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  position: relative;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* -- SKIP TO CONTENT -- */
.skip-to-content {
  top: 0;
  background: var(--color-dgrey);
  height: 62px;
  left: 0;
  display: flex;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 10000;
  color: white;
  align-items: center;
  width: 200px;
  justify-content: center;
}

.skip-to-content:focus {
  transform: translateY(0%);
}

/*added by gutenberg editor*/
/* -- gutenberg editor styles -- */
.has-s-font-size, .has-s-font-size li, .has-s-font-size strong {
  font-size: var(--step--1);
}

.has-default-font-size, .has-default-font-size li, .has-default-font-size strong {
  font-size: var(--step-0);
}

.has-m-font-size, .has-m-font-size li, .has-m-font-size strong {
  font-size: var(--step-1);
}

.has-l-font-size, .has-l-font-size li, .has-l-font-size strong {
  font-size: var(--step-2);
}

.has-xl-font-size, .has-xl-font-size li, .has-xl-font-size strong {
  font-size: var(--step-4);
}

.has-xxl-font-size, .has-xxl-font-size li, .has-xxl-font-size strong {
  font-size: var(--step-6);
}

.has-xxxl-font-size, .has-xxxl-font-size li, .has-xxxl-font-size strong {
  font-size: var(--step-8);
}

/*colours set in functions/setup.php*/
.has-primary-background-color {
  background-color: var(--color-primary);
}

.has-primary-color {
  color: var(--color-primary);
}

.has-secondary-background-color {
  background-color: var(--color-secondary);
}

.has-secondary-color {
  color: var(--color-secondary);
}

.has-lgrey-background-color {
  background-color: var(--color-lgrey);
}

.has-lgrey-color {
  color: var(--color-lgrey);
}

.has-dgrey-background-color {
  background-color: var(--color-dgrey);
}

.has-dgrey-color {
  color: var(--color-dgrey);
}

.has-black-background-color {
  background-color: var(--color-black);
}

.has-black-color {
  color: var(--color-black);
}

.has-white-background-color {
  background-color: var(--color-white);
}

.has-white-color {
  color: var(--color-white);
}

.has-body-background-color {
  background-color: var(--color-body);
}

.has-body-color {
  color: var(--color-body);
}/*# sourceMappingURL=style.css.map */