body{
    --color-primary: var(--wp--preset--color--primarycolour);
    --color-secondary: var(--wp--preset--color--secondarycolour);
    --color-heading: var(--wp--preset--color--headingcolour);
    --color-text: var(--wp--preset--color--bodytextcolour);
}